*,
*:before,
*:after {
    box-sizing: border-box;
}

.section__btn-abt {
    background-color:var(--gris1);
    border: 2px solid var(--gris6);
    padding: 15px 32px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 50px;
}

.section__btn-read {
    border: 2px solid var(--gris6);
    padding: 15px 84px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 50px;
}

.read__but {
    display: flex;
    justify-content: center;
}

form button {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 3%;
    color: white;
}

.logo__pia {
    width: 95px;
    height: auto;
}

.logo__mmi {
    width: 52px;
    height: auto;
}