*,
*:before,
*:after {
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    text-decoration: none;
    color: var(--gris6);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--gris6);
}


h1 {
    font-family: Jost;
    font-size: 34px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--gris6);
}

h2 {
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--gris6);
    margin-bottom: 0;
}

h3 {
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--gris6);
}

p {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--gris6);
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--gris1);
}

main {
    margin: var(--space2x);
}

.section__btn-abt {
    background-color:var(--gris1);
    border: 2px solid var(--gris6);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 50px;
}

button a {
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 3%;
    color: white;
}