
 :root {
     --dark-red: #8D0000FF;
     --main-black: #000000FF;
     --gold: #C49C48FF;
     --gris1: #000000FF;
     --gris3: #989592FF;
     --gris4: #CDCAC7FF;
     --gris5: #E9E7E4FF;
     --gris6: #FAFAFAFF;
     --gris2: #181717FF;
    
     /* Espaces */
    --space1x: 8px;
    --space2x: 16px;
    --space2-5x: 20px;
    --space3x: 24px;
    --space4x: 48px;
    --space5x: 80px;
 }