
.article__sep {
    border-color: var(--gold);
    margin-top: 3px;
    margin-bottom: 20px;
}

.article__figure {
    max-width: 100%;
    height: auto;
    margin: 0
}

.article {
margin: 60px 0;
}