.section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 60px;
}

.card__sep {
    border-color: var(--gold);
    margin-top: 3px;
    margin-bottom: 20px;
}

.card__figure {
    max-width: 100%;
    height: auto;
    margin: 0;
}