header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 16px;
    background-color: var(--gris1);
}

.header__nav--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header__menu-icon {
    padding-bottom: 5px;
}

.header__logo {
    padding-right: 90px;
}

.header__lang {
    margin-top: 5px;
}


.header__nav {
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: 9;
    padding: var(--space2-5x);
}

.menu__link {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--gris6);
}

.header__nav-desc {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--gold);
    margin-top: 5px;
}

.header__nav-list {
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 0;
}

.header__hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

.header__hr--end {
    margin-top: 10px;
    margin-bottom: 20px;
    border-color: var(--dark-red);
}

.header__nav-info {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}

.header__nav-info a {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--gris3);
    margin-left: 8px;
    margin-right: 8px;
}


.noscroll,
.noscroll body {
    overflow: hidden;
}